# API ACCESS KEY
API_ACCESS_KEY=test

# Con-PCA API URL
API_URL=http://localhost:5000

# Mongo
MONGO_INITDB_ROOT_PASSWORD=really_secure_password123
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_DATABASE=pca_data_dev
MONGO_URI=mongodb://root:really_secure_password123@con-pca-mongodb:27017
